:root {
  --dark-gray: hsl(0, 0%, 59%);
  --Very-Dark-Gray: hsl(0, 0%, 17%);
}

#search-btn {
  border: none;
  background-color: black;
}
body {
  font-family: "Rubik", sans-serif;
}

#searchInput {
  font-size: 18px;
}
#api-data {
    border: 3px solid black;
    position: absolute;
    z-index: 1;
}
span{
    /* border: 3px solid blue; */
}
#search-form {
  background-image: url(./images/pattern-bg-desktop.png);
  text-align: center;
  z-index: 0;
}
h1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#map {
        border: 3px solid red;

  height: 180px;
}
