:root {
  --dark-gray: hsl(0, 0%, 59%);
  --Very-Dark-Gray: hsl(0, 0%, 17%);
}

#search-button {
  border: none;
  background-color: black;
  padding: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 0px;
}
body {
  font-family: "Rubik", sans-serif;
}

#ipAddressInput {
  font-size: 18px;

  border: none;
  padding: 15px;
    border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 400px;
  margin-right: 0px;
}
/* #api-data {
    border: 3px solid black;
    position: absolute;
    z-index: 1;
} */
 #api-data {
   /* justify-content: center;
   align-content: center; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  z-index: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 700px;
  width: 100%;
  position: absolute;
}
.info-item {
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--dark-gray);


}
.info-item:last-child {
  border-right: none; /* remove border on last block */
}

.label {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--dark-gray);
  margin-bottom: 0.5rem;
}
.value {
  font-size: 1.1rem;
  font-weight: 600;
  
}

#search-form {
  background-image: url(./images/pattern-bg-desktop.png);
  text-align: center;
  z-index: 0;
  padding: 20px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
h1 {
    color: white;
    font-size: 20px;
    font-weight: 400;
}
#map {
      
   z-index: 0;
    width: 100%;       /* full width of container */
  height: 400px;     /* or any height you want */
}
.error-message {
  display: block;
  color: #e74c3c; /* Red for error messages */
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 1em; /* Reserve space to prevent layout shifts */
}
